<Configuration xmls="http://ch.qos.logback/xml/ns/logback">

    <!--日志文件存在哪里-->
    <property name="log_path" value="/Users/light/Desktop/tmp"/>
    <!--多大以后回滚-->
    <property name="log_size" value="50MB"/>

    <springProperty name="app_name" source="spring.application.name"  defaultValue="unknown_app"/>
    <springProperty name="log_path" source="app.log.path"  defaultValue="/Users/light/Desktop/tmp/"/>
    <springProperty name="rolling-size" source="app.log.rolling-size"  defaultValue="10MB"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--boldMagenta\cyan\highlight-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/${app_name}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${log_path}/${app_name}.%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${rolling-size}</MaxFileSize>
        </triggeringPolicy>
    </appender>


    <logger name="springfox.documentation.swagger.web.ClassOrApiAnnotationResourceGrouping" level="warn"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="debug"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="debug"/>


    <logger name="com.light.blog.dao" level="debug" additivity="false">
        <appender-ref ref="CONSOLE_COLOR"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>


</Configuration>